a, a:hover, a:focus  {
    text-decoration: none;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

.listClass{
    margin:1em ;
   
    color:white;
    display: inline;
}
.loginClass{
   
    float: right;
    margin-left:2em;
}
.nervbar{
    background-image: url("../public/navpattern.png");
    border-bottom: .4em solid;
    border-bottom-color: white;

}
body{
    background-image: url("../public/mvistaback.png");
}
.contactJ {
    background-color: rgb(235, 235, 235);
    margin-top: 1em;
    
}