a, a:hover, a:focus  {
    text-decoration: none;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

.listClass{
    margin:1em ;
   
    color:white;
    display: inline;
}
.loginClass{
   
    float: right;
    margin-left:2em;
}
.nervbar{
    background-image: url("../public/navpattern.png");
    border-bottom: .1em solid;
    background-size:     cover;
    border-bottom-color: black;
                          /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    

}
body{
    background-image: url("../public/mvistaback.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    font-family: 'Josefin Sans', sans-serif;
}
.contactJ {
    background-color: rgb(235, 235, 235);
    margin-top: 1em;
    
}
.carText{
    margin-top: 15em;
    margin-bottom: 7.5em;
   
}